aiohttp==3.7.4
async-timeout<4.0,>=3.0
autopep8
d20==1.1.2
topggpy==1.4.0
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@fbb8803779373357e274e1540b368365fd9d8074
discord.py @ git+https://github.com/Rapptz/discord.py@903e2e64e9182b8d3330ef565af7bb46ff9f04da
# py-cord>=v2.0.0b4
# flair==0.8.0.post1
grpcio
h5py
# Keras==2.4.3
# Keras-Preprocessing==1.1.2
# nltk==3.5
numpy==1.19.5
oauthlib==3.1.0
patreon==0.5.0 #@ git+https://github.com/Patreon/patreon-python.git@master
Pillow==8.3.2
psutil
expiringdict==1.2.1
# PyNaCl==1.4.0
python-dateutil==2.8.1
python-dotenv==0.15.0
requests==2.25
# tensorboard>=2.2.0
# tensorboard-plugin-wit==1.8.0
# tensorflow>=2.2.0
typing-extensions
urllib3==1.26.5
validators==0.18.2
wavelink==1.2.5
# wavelink @ git+https://github.com/Brettanda/Wavelink
# pycord.wavelink @ git+https://github.com/Pycord-Development/Pycord.Wavelink
# wavelink==0.9.10
# Werkzeug>=1.0.1
# yarl==1.6.3
youtube-dl==2021.1.24.1
# spacy==3.0.6
google-cloud-translate==2.0.1
pycountry==20.7.3
# pyspellchecker==0.6.2
openai>=0.16.0
python-slugify==5.0.2
profanity==1.1
pyfiglet==0.8.post1
asyncpg==0.23.0
asyncpraw>=7.5.0
pytest
pytest-asyncio==0.15.1
pytest-dependency==0.5.1
humanize==3.12.0
lru-dict==1.1.7
aiohttp-cors
parsedatetime==2.6
sympy==1.10